.cv__banner-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 69px 0;
}

/* .cv__banner-content {
    padding: 0 19px;
} */

.cv__banner-content.react {
    padding: 0 19px;
    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}




@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cv__banner-content img {
    width: 100px;
}


@media screen and (max-width: 650px) {
    .cv__banner {
        flex-direction: column;
    }

    .cv__banner-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .cv__banner {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .cv__banner-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .cv__banner-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}