.cv__contact {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 69px;
}

.cv__contact .cv__contact-bg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/bgai.webp');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.25;
}

.cv__contact-map {
  width: 50%;
  margin-right: 30px;
  z-index: 10;
}

.cv__contact-map iframe {
  border-radius: 6px;
  box-shadow: rgba(238, 232, 226, 0.25) 0px 50px 100px -20px, rgba(141, 115, 115, 0.3) 0px 30px 60px -30px;
}

.cv__contact-info {
  position: relative;
  width: 46%;
  z-index: 10;
  top: 0;
  left: 0;
  height: 500px;
}

.cv__contact-info .cv__contact-info-bg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 399px;
  height: 399px;
  background-color: rgb(99 32 255);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(9px);
  -webkit-filter: blur(79px);
  opacity: 0.25;
  z-index: 1;
}

.cv__contact-info .cv__contact-info-content {
  z-index: 119;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.cv__contact-info h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  text-align: center;
}

.cv__contact-info label {
  color: rgb(212, 212, 212);
  font-family: var(--font-family);
}

.cv__contact-info input,
.cv__contact-info textarea {
  display: block;
  width: 100%;
  padding: 15px 15px;
  margin: 10px 0;
  background-color: transparent;
  border-radius: 3px;
  color: rgb(212, 212, 212);
  border: 0.2px solid rgb(212, 212, 212);
}

.cv__contact-info button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #FF4820;
  border: 2px solid #FF4820;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;

  border-radius: 5px;
}

.cv__contact-info button:hover {
  opacity: 0.8;
}

.cv__contact-name {}

.cv__contact-email {}

.cv__contact-phone {}

.cv__contact-mess {}

.cv__contact-btn {}

@media screen and (max-width: 990px) {
  .cv__features {
    flex-direction: column;
  }

  .cv__features-heading {
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 730px) {
  .cv__contact {
    flex-wrap: wrap-reverse;
  }

  .cv__contact-map {
    width: 100%;
    margin-right: 0px;
    z-index: 10;
  }

  .cv__contact-info {
    width: 100%;
    margin-bottom: 19px;
    z-index: 10;
  }
}


@media screen and (max-width: 550px) {
  .cv__features-heading h1 {
    font-size: 28px;
    line-height: 38px;
  }

  .cv__contact {
    flex-wrap: wrap-reverse;
  }

  .cv__contact-map {
    width: 100%;
    margin-right: 0px;
    z-index: 10;
  }

  .cv__contact-info {
    width: 100%;
    margin-bottom: 19px;
    z-index: 10;
  }
}