.cv__navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
    width: 100%;
    padding: 0rem 6rem;

}

.cv__navbar-bg {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(51, 46, 46);
    opacity: 0.8;
}

.cv__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.cv__navbar-links_logo {
    width: 120px;
    height: 120px;
    margin-right: 2rem;

    margin: 0 1rem;
    cursor: pointer;
}

.cv__navbar-links_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cv__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.nav__text-dark p a:hover {
    opacity: 0.6;
}

.cv__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}

.cv__navbar-links_container p,
.cv__navbar-sign p,
.cv__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.cv__navbar-sign button {
    height: 40px;
    border: 3px solid white;
    padding: 0px 19px;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.cv__navbar-sign .btn-light {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-radius: 3px;
}

.cv__navbar-sign .btn-dark {
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.cv__navbar-sign button:hover {
    opacity: 0.7;
}

.cv__navbar-sign input,
.cv__navbar-menu_container input {
    width: 160px;
    height: 40px;
    padding: 0.3rem 1rem;
    color: rgb(77, 76, 76);
    background: #cfcfcf;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: text;
}

.cv__navbar-sign input::placeholder {
    color: rgb(63, 61, 61);
}

.cv__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.cv__navbar-menu svg {
    cursor: pointer;
}

.cv__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.cv__navbar-menu_container p {
    margin: 1rem 0;
}

.cv__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .cv__navbar-links_container {
        display: none;
    }

    .cv__navbar-menu {
        display: flex;
    }

    .cv__navbar-search {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .cv__navbar {
        padding: 0rem 4rem;
    }

    .cv__navbar-sign.disable {
        display: none;
    }

    .cv__navbar-search {
        display: flex;
    }
}

@media screen and (max-width: 550px) {
    .cv__navbar {
        padding: 0 2rem;
    }

    .cv__navbar-sign {
        display: none;
    }

    .cv__navbar-menu_container {
        top: 20px;
    }

    .cv__navbar-menu_container-links-sign {
        display: block;
    }

    .cv__navbar-search {
        display: flex;
    }
}